body {
    text-align: center;
}

button {
    margin: 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 20px;
    width: 100%;
}